
<div class="content-inner">

	<h1 class="pump-up">
		Enter a ticker or company name.
		<br>
		<small>See how your idea stacks up against real historical outcomes.</small>
	</h1>

	<div class="full-search-bar">
		<ul>
			<li>
				<%= form_tag("/search/ticker", :method => "post", :class => "search-bar-form") do %>
	      			<%= text_field_tag(:search_entry, nil, :placeholder => "IBM, GOOG, MSFT, AAPL, etc.", :id => "search_entry") %>
	      			<!-- Using a button tag below instead of the submit tag so we can place an icon on it. The form behaves the same. -->
	      			<%= button_tag(nil, :class => "btn btn-large btn-inverse", :id => "search-button")  do %>
	      				<i class="icon-search icon-white"></i>
	      			<% end %>
	    		<% end %>
			</li>
		</ul>
	</div>
</div>

<script> 
$(function() {
   function split( val ) {
        return val.split( /,\s*/ );
    }
    function extractLast( term ) {
        return split( term ).pop();
    }

	$( "#search_entry" )
        .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
                    $( this ).data( "autocomplete" ).menu.active ) {
                event.preventDefault();
            }
        })
		.autocomplete({
		    minLength: 2,
             search: function() {
                // custom minLength
                var term = extractLast( this.value );
                if ( term.length < 2 ) {
                    return false;
                }
            },
            source: function( request, response ) {
		    	$.ajax({
		    		type: 'GET',
                    url: "/search/autocomplete_investment_ticker.json",
                    dataType: "json",
                    data: { term: extractLast(request.term) },
                    success: function( data ) {
                        response( data );
                    }
                });
		    },
		    select: function( event, ui ) {
		        console.log( ui.item ?
		            "Selected: " + ui.item.id + " - " + ui.item.value + " - "+ ui.item.longname :
		            "Nothing selected, input was " + this.value );
				
				var terms = split( this.value );
	            // remove the current input
	            terms.pop();
	            // add the selected item
	            terms.push( ui.item.value );
	            // add placeholder to get the comma-and-space at the end
	            terms.push( "" );
	            this.value = terms.join( ", " );
	            return false;
		    },
		    change: function( event, ui ) {
		    	console.log("change happened");
		    },
			focus: function() {
                // prevent value inserted on focus
                return false;
            },
	    })
		.data( "autocomplete" )._renderItem = function( ul, item ) {

			// console.log("rendering items");

			var v = item.value + " - " + item.longname;

		    return $( "<li></li>" )
		        .data( "item.autocomplete", item )
		        .append( "<a>" + v + "</a>" )
		        .appendTo( ul );
		};
});
</script>
