
<div class="content-inner">

	<h1 class="pump-up">
		Enter a ticker, see similar performances in history.
		<br>
		<strong>Smart value investing.</strong>
	</h1>

	<div class="full-search-bar">
		<ul>
			<li>
				<div class="search-bar-form">
					<input type="text" placeholder="IBM, GOOG, MSFT, AAPL, etc." id="search-entry" />
					<button class="btn btn-large btn-inverse" id="search-button">
						<i class="icon-search icon-white"></i>
					</button>
				</div>
			</li>
		</ul>
	</div>

</div>