
<ul id="history" class="unstyled searches-list">
  <li>
    <div class="search-list-item">

      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove"></i>
        </a>        
      </div>
    
      <div id="last-search-date">Last Update: April 4, 2013</div>

      <div id="item-actions">
        <a class = "btn btn-mini btn-inverse" href="#">
          <i class="icon-refresh icon-white"></i> Update
        </a>
        <a class ="btn btn-mini btn-inverse" href = "#">
          <i class="icon-star icon-white"></i> Add to Favorites
        </a>  
        <a class ="btn btn-mini btn-inverse" href = "#">
          <i class="icon-share icon-white"></i> Share
        </a>
      </div>

    </div>
  </li>
  <li>
    <div class="search-list-item selected" >
      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove icon-large icon-white"></i>
        </a>        
      </div>
  
      <div id="last-search-date">Last Update: April 4, 2013</div>


      <div id="item-actions">
        <a class="checked" href = "#">
          <i class="icon-check"></i> In Favorites
        </a>  
        <a class ="checked" href = "#">
          <i class="icon-check"></i> Shared
        </a>
      </div>
    </div>
  </li>
  <li>
    <div class="search-list-item">
      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove icon-large icon-white"></i>
        </a>        
      </div>
  
      <div id="last-search-date">Last Update: April 4, 2013</div>


      <div id="item-actions">
        <a class="checked" href = "#">
          <i class="icon-check"></i> In Favorites
        </a>  
        <a class ="checked" href = "#">
          <i class="icon-check"></i> Shared
        </a>
      </div>
    </div>
  </li>
    <li>
    <div class="search-list-item">
      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove icon-large icon-white"></i>
        </a>        
      </div>
  
      <div id="last-search-date">Last Update: April 4, 2013</div>


      <div id="item-actions">
        <a class="checked" href = "#">
          <i class="icon-check"></i> In Favorites
        </a>  
        <a class ="checked" href = "#">
          <i class="icon-check"></i> Shared
        </a>
      </div>
    </div>
  </li>
    <li>
    <div class="search-list-item">
      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove icon-large icon-white"></i>
        </a>        
      </div>
  
      <div id="last-search-date">Last Update: April 4, 2013</div>


      <div id="item-actions">
        <a class="checked" href = "#">
          <i class="icon-check"></i> In Favorites
        </a>  
        <a class ="checked" href = "#">
          <i class="icon-check"></i> Shared
        </a>
      </div>
    </div>
  </li>
    <li>
    <div class="search-list-item">
      <div id="security-info">
        <div id="security-ticker">MSFT</div> - 
        <div id="security-name">Microsoft Corporation</div>
        <a id="remove-link" href="#">
          <i class="icon-remove icon-large icon-white"></i>
        </a>        
      </div>
  
      <div id="last-search-date">Last Update: April 4, 2013</div>


      <div id="item-actions">
        <a class="checked" href = "#">
          <i class="icon-check"></i> In Favorites
        </a>  
        <a class ="checked" href = "#">
          <i class="icon-check"></i> Shared
        </a>
      </div>
    </div>
  </li>  
</ul>
