
<div id="asktosigninmodal" 
	class="modal hide fade" tabindex="-1" role="dialog" 
	aria-labelledby="asktosigninmodalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="asktosigninmodalLabel">Please sign in </h3>
  </div>
  <div class="modal-body">
    <p>In order to avoid spam and to run a credible service, we ask that our users sign in before they can share their results.
    <br>
    If you have not registered yet, you can do so easily on the sign in page. </p>
    <p>Thank you for using our site and sharing your results ! </p>

  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">No thanks</a>
    <a class = "btn btn-primary" href = "/signin">Yes, I want to register and share</a>
  </div>
</div>