<div id="comparable-modal" class="modal hide fade comparable-modal" tabindex="-1"
     role="dialog" aria-labelledby="myComparableModalLabel" aria-hidden="true">

  <div class="modal-body">

    <table class="comparable-table"><tr>

	<td class="comparable-table-left-pane">

	  <div id="comparable-carousel-left" class="carousel">
	    <!-- Carousel items -->
	    <div id="carousel-inner-left" class="carousel-inner">

	      <div id="carousel-item-left" 
		   class="active item comparable-detail-left">

		

	      </div>


	    </div>
	  </div>

	</td>

	<td class="comparable-table-right-pane">

	  <div id="comparable-carousel-right" class="carousel slide">

	    <!-- Carousel items -->
	    <div id="carousel-inner-right" class="carousel-inner">

	    </div>
	    
	    <!-- Carousel nav -->
	    <a class="carousel-control left" 
	       href="#comparable-carousel-right" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" 
	       href="#comparable-carousel-right" data-slide="next">&rsaquo;</a>
	    
	  </div>
	</td>

    </tr></table>

  </div> <!-- end of modal-body -->

  <div id="carousel-item-right-template"
       class="item comparable-detail-right"
       style="display:none">

    <div class="company-name"></div>
    <div class="ticker"></div>
    <div class="year"></div>
    <div class="date"></div>

    <div class="factors-header">Factors</div>



    <div class="key-stats-header">Key Statistics</div>

    <div class="key-stats mrkcap-lab">Market Capitalization:</div>
    <div class="key-stats mrkcap-txt"></div>

    <div class="key-stats price-lab">Price/Share:</div>
    <div class="key-stats price-txt"></div>
    
    <div class="key-stats dividend-lab">Dividend:</div>
    <div class="key-stats dividend-txt"></div>
    
    <div class="key-stats eps-lab">Earnings/Share:</div>
    <div class="key-stats eps-txt"></div>

    <div class="key-stats pe-lab">Price-to-Earnings:</div>
    <div class="key-stats pe-txt"></div>

    <div class="key-stats pb-lab">Price-to-Book:</div>
    <div class="key-stats pb-txt"></div>
    
    <div class="ey"></div>
    <div class="roc"></div>
    <div class="grwth"></div>
    <div class="epscon"></div>
    <div class="ae"></div>
    <div class="momentum"></div>
    
  </div>

</div> <!-- end of comparable-model -->
