<div>
  <h2>
    Enjoy Fundamentals in one of three different ways.
  </h2>
  <div class="row-fluid">
    <div class="span4 membership-type">
      <h2>Anonymous Use</h2>
      <p>You can use the site at no charge and enjoy historical analysis of stock returns. </p>

      <p>We do remember popular searches and will give you hints. 
        If you want to share your search results or add them as your favorites, simply register to the site.
      <a class="btn" href="/">Continue using the site »</a></p>
    </div>
    <div class="span4 membership-type">
      <h2>Registered Users</h2>
      <p>As a registered user you get to reach the same analysis that anonymous users do. In addition you enjoy the following benefits: </p>
      <ul>
        <li><b>Favorites:</b> We allow you to mark certain searches as favorites and remember them for you.</li>
        <li><b>Sharing:</b> We make it easy for you to share your search results and remember them. 
          Even if you use a complex search method. </li>
        <li>access to daily greenblaut lists ??? </li>
      </ul>
      <p>
        We only remember your mail address and a user name that you would like to use to make our interaction with you more human. 
        We do not take any other information, and we do not share your information with anyone else. 
        You can see our <a href="#"> Privacy Statement </a> 
        and <a href="#">Terms and Conditions</a> documentation if you have any other questions.
      </p>
      <p>
        So much better than anonymous, right ? Who wants to be anonymous anyway !? <br> <br> Be someone... register now!</p>
      <p>
      <% if !current_user %>
        <a class="btn" href="/register">Register now! »</a>
      <% end %>
    </div>
    <div class="span4 membership-type">
      <h2>Members</h2>
      <p>Paying members will get everything they dreamed of, but unfortunate for you we are still a free beta...</p>
      <p><a class="btn" href="/">Continue using the site »</a></p>
    </div>
  </div>
</div>