<div>
  <h1>
    Let historical results guide your future decisions. 
  </h1>
  <h2>
    Enjoy Fundamentals in one of three different ways.
  </h2>
  <div class="row-fluid">
    <div class="span4">
      <h2>Anonymous Use</h2>
      <p>You can use the site right away and enjoy historical analysis free. </p>
      <p>Some other stuff here telling why this is so amazingly cool. And why you could not live as an investor without 
        this kind of insight.</p>
      <p><a class="btn" href="/">Start using the site »</a></p>
    </div>
    <div class="span4">
      <h2>Registered Users</h2>
      <p>As a registered user you get to reach the same analysis that anonymous users do. In addition you enjoy the following: </p>
      <ul>
        <li>share your stuff...</li>
        <li>access to daily greenblaut ???</li>
      </ul>
      <p>Obviously this is so much better than anonymous. Who wants to be anonymous anyway. Be someone... register now!</p>
      <p><a class="btn" href="/register">Register now! »</a></p>
    </div>
    <div class="span4">
      <h2>Members</h2>
      <p>Paying members will get everything they dreamed of, but unfortunate for you we are still a free beta...</p>
      <p><a class="btn" href="#">Start using the site »</a></p>
    </div>
  </div>
</div>