
<% _results = ActiveSupport::JSON.decode(result_set) %>
<% _result_count = [12, _results.length].min %>

<div class="span10">

	<div class="row-fluid"> 
		<div class="span6 comparable">
			<div class="panel-header">
				<span></span>
				<span></span>						
			</div>
		</div>
		<div class="span3 comparable">
			result summary
		</div>
	</div>
<% _first_row = true %>

<% (0.._result_count-1).each do |i| %>

	<% _result_entry = _results[i] %>

	<% _new_row = (i%4 == 0) %>

	<% if _new_row %> 
		<% if !_first_row %>
			</div> <!-- row-fluid -->
		<% else %>
			<% _first_row = false %>
		<% end %>
		<hr>
		<div class="row-fluid dyna-roller"> 
	<% end %>

		<div class="span2 comparable">
			<div class="panel-header">
				
				<div class="percent-circle">
					<span class="percent-text">
					<%= (100*(1-(_result_entry['distance']))).to_s.split('.')[0] %>
					</span>
				</div>

				<div class="panel-ticker">
					<%= _result_entry['ticker'] %>
				</div>

			</div>
			<% _d = Date.parse(_result_entry['pricedate'])%>
			<div class="panel-date"><%= Date::MONTHNAMES[_d.month][0..2] + ', ' + _d.year.to_s %></div>
			<p>Parameter : Value</p>
			<p>Another Parameter : Value</p>
		</div> <!-- span4 -->
<% end %>
</div> <!--end of span8 -->
