
<% results = ActiveSupport::JSON.decode(result_set) %>

<% 	result_count = [12, results.length].min %>

    <div class="span9">

<% first_row = true %>

<% (0..result_count-1).each do |i| %>
	<% new_row = (i%3 == 0) %>

	<% if new_row %> 
		<% if !first_row %>
			</div> <!-- row-fluid -->
		<% else %>
			<% first_row = false %>
		<% end %>
		<div class="row-fluid"> 
	<% end %>

		<div class="span4 comparable">
			<div class="panel-header">
				
				<div class="percent-circle">
					<span class="percent-text">
					<%= (100*(1-(results[i]['distance']))).to_s.split('.')[0] %>
					</span>
				</div>

				<div class="panel-ticker">
					<%= results[i]['ticker'] %>
				</div>

			</div>
			<% d = Date.parse(results[i]['datadate'])%>
			<div class="panel-date"><%= Date::MONTHNAMES[d.month][0..2] + ', ' + d.year.to_s %></div>
			<p>This is some test content here... Let's see what it will show</p>
			<p>This is the second line of the test content for the block.</p>
		</div> <!-- span3 -->
<% end %>
</div> <!-- end of last row -->

</div> <!--end of span9 -->
