<div>

  <div class="euclid-slogan"> 
    Evaluate Your Investment Idea Against Real Outcomes
  </div>

  <div class="hero-unit">

    <div id="teaser-carousel" class="carousel">

      <div class="carousel-inner">
	<div class="item active" id="teaser-item-template">
	  <h1>Why is Apple TODAY similiar to these investments?</h1>
	  <hr>
	  <div class="item-epoch">Fast Paste Inc. in Jan of 2006
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">Oracle in Jan of 1992
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">Cicle T M in Jan of 1987
	    <img class="" src="assets/red-outperformance-small.png"></img>
	  </div>
	  <br>

	</div>
      </div> <!-- End carousel-inner -->

      <!-- Carousel nav -->
      <a class="carousel-control left" 
	 href="#teaser-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" 
	 href="#teaser-carousel" data-slide="next">&rsaquo;</a>

    </div> <!-- end teaser-carousel -->

    
  </div> <!-- end hero-unit -->

</div><!--/div-->
