<div>

  <div class="euclid-slogan"> 
    Evaluate Your Investment Idea Against Real Historical Outcomes
  </div>

  <div class="hero-unit">

    <div id="teaser-carousel" class="carousel carousel-fade">

      <div class="carousel-inner" >

	<div class="item active" id="teaser-item-template" onclick="window.location.href = 'search?ticker=FLR'">
	  <h1 >
	    Why is FLUOR CORP today similiar to these investments?</h1>
	  <hr>
	  <div class="item-epoch">EMERSON ELECTRIC CO in Dec of 2009
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">HONEYWELL INC in May of 1996
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">STANLEY BLACK & DECKER in Aug of 1987
	    <img class="" src="assets/red-outperformance-small.png"></img>
	  </div>
	  <br>

	</div>

	<div class="item" onclick="window.location.href = 'search?ticker=KMB'">
	  <h1 >
	    Why is KIMBERLY-CLARK CORP today similiar to these investments?</h1>
	  <hr>
	  <div class="item-epoch">HEINZ (H J) CO in Dec of 2010
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">CLOROX CO/DE in Aug of 1997
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <div class="item-epoch">RALSTON PURINA in May of 1987
	    <img class="" src="assets/green-outperformance-small.png"></img>
	  </div>
	  <br>

	</div>


      </div> <!-- End carousel-inner -->

    </div> <!-- end teaser-carousel -->

    
  </div> <!-- end hero-unit -->

</div><!--/div-->
