<%= render "frontdoor/searchbar" %>

<div id="about-page">


<h2>What is Euclidean Fundamentals?</h2>

<p>
When looking at potential investments, every good investor mentally
compares the opportunity at hand to investments they have seen play
out in the past.  This process is generally limited to one’s own
personal experiences and knowledge.  Euclidean Fundamentals offers
investors a new capability.  Now, when evaluating investments,
investors can immediately examine outcomes of similar investment
opportunities in history.
</p>

<br><hr><br>
<h2>Who Built Euclidean Fundamentals?</h2>

<p>
Today, in almost every industry, innovative companies are capturing
large amounts of experience in electronic form and using it to improve
performance.  Euclidean Fundamentals, a service of Euclidean
Technologies, LLC, was inspired by the opportunity to apply this
marriage of data and sound thinking to long-term equity investing.
Euclidean Technologies, LLC’s affiliate, <a href="http://www.euclidean.com">Euclidean Technologies
Management, LLC</a>, adheres to this philosophy as it provides systematic
investment services to Accredited Investors.  
</p>
<hr>
<div id="quote-box">

"The soundness of a security purchase is determined by future developments and not by past history or statistics. But the future cannot be analyzed; we can seek only to anticipate it intelligently and to prepare for it prudently. Here the past comes in – through the back door, as it were - because long experience tells us that investment anticipations, like other business anticipations, cannot be sound or dependable unless they are closely related to past performance."  Benjamin Graham, Security Analysis
</div>

</div>
