<%= render "frontdoor/searchbar" %>

<div class="container-fluid main-content">
  <div class="row-fluid">
    <div class="span2 history-sidebar-nav" id="history-sidebar-nav">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Searches</li>
        </ul>
      </div><!--/.well -->
    </div><!--/span2 sidebar -->
    
    <% if the_search() %>

        <%= render "frontdoor/results" %>

    <% elsif the_search_detail() %>

        <%= render "frontdoor/results_detail" %>

    <% else %>

        <%= render "frontdoor/welcome" %>

    <% end %>

  </div><!--/row-->
</div><!--/.fluid-container-->
