<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js">
</script>

<script>

$(document).ready(function() {
  
  // show captcha fields.
  if (document.location.href.indexOf("register") > 0) {
    Recaptcha.create("6LfZiucSAAAAADSaJp7qiHQqkBkwFgilmJrRiJbS", "captcha-container",
      {
        theme: "clean",
        callback: Recaptcha.focus_response_field
      }
    );
  }

  var form_refresh = "<%= form_refresh?() %>";
  var message = "<%= validation_error %>";
  var messageElement;

  switch (form_refresh) {
    case "register":
      // show register UI again
      messageElement = $("#register-message");

      break;

    case "signin":
      // show signin UI again.
      messageElement = $("#signin-message");
      break;
  }

  if (message) {
    $(messageElement).text(message);
    $(messageElement).css("color", "red");
  }

  $("#username-info").popover({
     trigger: 'hover',
     html: true,
     placement: 'left',
     title: 'User Name',
     content: 
     ' This is the name that represents you on this site.<br>' +
     ' It\'s included in e-mails we send on your behalf, you share searches with others.<br>',
     container: 'body'
   });

  $("#email-info").popover({
     trigger: 'hover',
     html: true,
     placement: 'left',
     title: 'E-mail Address',
     content: 
     ' This is the e-mail address we will use to communicate with you.',
     container: 'body'
   });

});

</script>

<%= render "frontdoor/searchbar" %>
<h2>You must be <b>signed in</b> to share results with others</h2>

<div class="container-fluid">
  <div class="row-fluid"> 
    <div class="span4 identity-left">
      <p> Participate in a growing community of users who are looking at 
        historical comparables when making investments in public companies.</p>
      <p> As a registered user, you can save your favorite searches and share your results. We remember
        the specific searches you share with others and allow them to come back to see them at any time 
        without being registered users. </p>
    </div>
    <div class="span8 identity-right">
      <%= render "frontdoor/identityform" %>
    </div>
  </div>
</div>
