
$backgroundColor: #F9F9F9;
$panelColor: #FBFBFB;

$redColor: #B33B3B;
$neutralColor: #E9EAF0;
$accentColor1: #B0C7D6;
$accentColor2: #6090A8;
$darkColor: #1A344D;

$titleTextColor: #666;
$contentTextColor: #333;

@mixin content-box($size) {
    padding: $size;
    margin: 0 0 0 0;
    // border: 1px solid $accentColor1;
    border-radius: $size * 0.7 ;
}

/* Typography customization for the entire site */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: $darkColor;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $darkColor;
}

h3 {
  color: $titleTextColor;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Customize body normal style */

.nr {
    padding-top: 42px;
    margin-top: 36px !important;
    color: $contentTextColor;
    /*font-family: "Lucida Grande" , "Lucida Sans Unicode" , Arial, Verdana, sans-serif;*/
    margin: 0 auto 0 auto;
    font-size: 14px;
    /*width: 90%;*/
}