/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui-1.9.1.custom.min
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 */

@import "shared";

/* Outline main parts of the document layout */


.header {
	width: auto;
	margin-right: auto;
	margin-left: auto;

}

.footer {
	width: auto;
	margin-right: auto;
	margin-left: auto;

	.disclaimer {
	
	    font-size: 80%;
	    margin: 10px 20px 20px 20px;
	    padding: 5px 5px 5px 5px;
	    border: 1px solid grey;    
	    -webkit-border-radius: 6px 6px 6px 6px;
	    -moz-border-radius: 6px 6px 6px 6px;
	    border-radius: 6px 6px 6px 6px;
	    
	}

}

.content-inner {
	padding: 25px 20px 25px;
}

.patent {
    font-family: "Courier";
}

