/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 #= require jquery-ui-1.9.1.custom.min
 *= require_tree .
 */

 @import "shared";

.brand {
	margin-top: 6px;
}

.content {
    @include content-box(8px);
    background: white;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.header {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.footer {
	width: auto;
	margin-right: auto;
	margin-left: auto;
}

.content-inner {
	padding: 25px 20px 25px;
}

.pump-up {
	color: $contentTextColor;
	margin: 70px 22px 35px;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	line-height: 40px;

	strong {
		font-weight: 300;
		color: #777;
	}
}

.full-search-bar {
	width: 72%;
	margin: 0 auto 38px;
	position: relative;

	ul {
		list-style: none;
		margin-top: 0;
		margin-right: 0px;
	}

	.search-bar-form {
		height: 45px;

		#search-button {
			-webkit-border-radius: 0 6px 6px 0;
			-moz-border-radius: 0 6px 6px 0;
			border-radius: 0 6px 6px 0;
			border-left: 0;
			height: 45px;
			width: 46px;
			position: absolute;
			top:0;
			right:0;
		}	

		#search-entry {
			-webkit-border-radius: 6px 0 0 6px;
			-moz-border-radius: 6px 0 0 6px;
			border-radius: 6px 0 0 6px;
			border-right: 0;
			font-size: 20px;
			line-height: 24px;
			height: 35px;
			left: 0px;
			width: 95%;
		}
	}
}