// Place all the styles related to the frontdoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.hero-unit {
  background-color: white;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
	 color: #555;

  	hover {
  		color: #222;
  	}
  }  

  small {
  	float: left;
  	margin-left: 20px;
  }

  ul {
  	float: right;
  	margin-right: 20px;
  	list-style: none;
	
  	li {
  	  float: left;
  	  margin-left: 20px;
  	}
  }
}

.full-search-bar {
  left: 20%;
  position: relative;

  ul {
    list-style: none;
    margin-top: 0;
    margin-right: 0px;
  }

  .search-bar-form {
    height: 45px;

    .search-field-and-button {
      position: absolute; 
      width: 60%;
    }

    #search-button {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0;
      border-left: 0;
      height: 45px;
      width: 46px;
      position: absolute;
      top:0;
      right:-8px;
    } 

    #search_entry {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px;
      border-right: 0;
      font-size: 20px;
      line-height: 24px;
      height: 35px;
      left: 0px;
      width: 95%;
    }
  }
}

.comparable {
  background-color: $neutralColor;
  margin-bottom: 14px;
  border-radius: 6px;
  padding: 4px;
}

.percent-circle {
  background-color: white;
  background-image: none;
  border: 5px solid green;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
  float: left;
  font-weight: bold;
  font-size: 22px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  width: 50px;
  text-decoration: none;
  /*margin: -60px 0 0 5px;*/
  z-index: 99;
  position: relative;
  cursor: pointer;
}
.panel-ticker {
  font-weight: bold;
  font-size: 26px;
  height: 32px;
  padding-top: 14px;
  padding-right: 16px;
  float: right;
}
.panel-date {
  font-size: 22px;
  margin-top: 14px;
  display: block;
}