// Place all the styles related to the frontdoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.navbar {
  .brand {
    color: white;
  }
}

.hero-unit {
  background-color: white;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
	 color: #555;

  	hover {
  		color: #222;
  	}
  }  

  small {
  	float: left;
  	margin-left: 20px;
  }

  ul {
  	float: right;
  	margin-right: 20px;
  	list-style: none;
	
  	li {
  	  float: left;
  	  margin-left: 20px;
  	}
  }
}

.search-area {
  margin-top: 16px;
}

.full-search-bar {
  left: 20%;
  position: relative;

  ul {
    list-style: none;
    margin-top: 0;
    margin-right: 0px;
  }

  .search-bar-form {
    height: 45px;

    .search-field-and-button {
      position: absolute; 
      width: 60%;
    }

    #search-button {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0;
      border-left: 0;
      height: 45px;
      width: 46px;
      position: absolute;
      top:0;
      right:-8px;
    } 

    #ticker {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px;
      border-right: 0;
      font-size: 20px;
      line-height: 24px;
      height: 35px;
      left: 0px;
      width: 95%;
    }
  }
}

.result-stats {
  background-color: $neutralColor;
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 8px;
  min-width: 280px;
}

.comparable {
  background-color: $panelColor;
  margin-bottom: 12px;
  border-radius: 2px;
  padding: 4px;
  min-width: 220px;
  box-shadow: 4px 4px 2px #999;

.percent-circle {
    background-color: white;
    background-image: none;
    border: 5px solid green;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    float: left;
    font-weight: bold;
    font-size: 22px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    width: 50px;
    text-decoration: none;
    //margin: -60px 0 0 5px;
    z-index: 99;
    position: relative;
    cursor: pointer;
  }

  .panel-header {
    font-weight: bold;
    height:28px;
    padding: 2px 0px 0px 2px;
  }

  .panel-ticker {
    font-weight: bold;
    font-size: 18px;
    height: 20px;
    float: left;
  }

  .panel-date {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
  }

  .panel-performance {
    float: right;
    background: $accentColor2;
    text-align: center;
    // width and height are driven from reactive content in bootstrap_and_overrides.css.scss
  }

  .panel-body {
    /*background-color: green;*/
    overflow: hidden;
    margin: 16px 0px 0px 2px;
    width: 100%;
    display: block;
  }

}

.dyna-roller {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  
/*  
  // Keeping these out of the picture until we have left/right sliding buttons.
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transform: translateX(0px);
*/

}

