// Place all the styles related to the frontdoor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

hr {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
  .brand {
    color: white;
  }
}

.euclid-slogan {

    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 4px;
    line-height: 1;
    letter-spacing: -1px;

    text-align: center;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 40px;
    -webkit-font-smoothing: antialiased;

    padding: 4px 4px 4px 4px;

    /*border: 2px solid #EA4A0B;*/
}

.hero-unit {

  background-color: white;

  width: 600px;
  height: 350px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;

  /* background-color: green; */
  padding: 0px 20px 0px 20px;

  border: 8px solid #665747;

  h1 {
      font-size: 24px;
      font-weight: 200;
  }

  hr {
      margin-top: 20px ;
      margin-bottom: 20px;
      size: 10px;
  }

  .carousel {

      height: 100%;
      /* border: 2px solid red; */
      
      .carousel-inner {
	  margin-top: 10px;

	  div {
	      margin-top: 20px;
	      margin-bottom: 30px;
	  }
	  
	  .item-epoch {
	      margin-left: 110px;
	      text-align: left;
	  }

      }   
      
  }

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;

  a {
	 color: #555;

  	hover {
  		color: #222;
  	}
  }  

  small {
  	float: left;
  	margin-left: 20px;
  }

  ul {
  	float: right;
  	margin-right: 20px;
  	list-style: none;
	
  	li {
  	  float: left;
  	  margin-left: 20px;
  	}
  }
}

.history-sidebar-nav {

    width: 150px !important;

    .nav-header {
	font-family:"Helvetica", Helvetica, serif !important;
	font-size: 8pt !important;
	text-align: center;
	
    }
}

.search-area {

    margin: -5px 0px 0px 0px;

    .full-search-bar {
	
	ul {
	    list-style: none;
	    margin-top: 0;
	    margin-right: 0px;
	    
	    li {
		display: inline;
		list-style-type: none;
		list-style: none;
	    }
	}
	
	.logo-image {
	    width: 260px;
	    min-width: 260px;
	    margin-left: -20px;
	    margin-top: -12px;
	}
	
	.search-bar-form {
	    height: 45px;
	    display: inline;
	    
	    .search-field-and-button {
		
		#search-button {

		    -webkit-border-radius: 4px 4px 4px 4px;
		    -moz-border-radius: 4px 4px 4px 4px; 
		    border-radius: 4px 4px 4px 4px;
		    height: 32px;
		    width: 70px;
		    margin: -12px 0px 0px 10px;
		} 

		#ticker {
		    /***
		    -webkit-border-radius: 4px 4px 4px 4px;
		    -moz-border-radius: 4px 4px 4px 4px;
		    border-radius: 4px 4px 4px 4px; **/
		    border-radius: 0px 0px 0px 0px;
		    font-size: 18px;
		    line-height: 20px;
		    height: 24px;
		    left: 0px;
		    width: 50%;
		    min-width: 120px;
		}
	    }
	}
    }

}