
@import "shared";

.navbar {
  .brand {
    color: white;
  }
  
  .btn {
    margin-bottom: 0px;
  }
}

header {
	background-color: $accentColor1;
	height: 80px;
	margin: -24px 0 10px 0;
}

.search-area {
	padding-top: 14px;
	width: 70%;
}