
.identity-left {
  padding:8px;
  background-color: #e0e0e0;
  margin-top: 0px;
  border-radius: 5px;
}

.identity-right {
  margin-left: 0px;
  h3 {
    text-align: left !important;
  }

  .alternate-message {
    text-align: right;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: -20px;
    position: relative;
    top: -20px;
  }

  border-left: 1px solid darkgray;
}

.credentials {

    max-width: 440px;
    text-align: center;
    margin-right: auto;
    margin-left: 80px;

	h3 {
		text-align: center;
	}	

	.modal-body {

		input[type="text"], input[type="email"], input[type="password"] {
			width: 100%;
			margin-bottom: 20px;
			font-size: 18px;
			height: 24px;
			letter-spacing: 2px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			
			td {
				width: 100%;
			}

			i {
				font-size: 18pt;
				color: darkblue;
				padding-left: 16px;
			}
		}
	}

	.modal-footer {
		text-align: left;
		background-color: white;	


		.btn {
			float: right;
			margin-right: -15px;
			margin-top: -40px;
		}				
	}

	#captcha-container {
		padding-left: 14px;

		#recaptcha_privacy {
			font-size: 6pt;
			line-height: 6pt;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}