.identity-container {
  margin-left: auto;
  margin-right: auto;

  h3 {
    text-align: left !important;
  }

  .alternate-message {
    text-align: right;
    margin-right: 0px;
    margin-left: auto;
    margin-bottom: -20px;
    position: relative;
    top: -20px;
  }
}

#marketing-section {

	#register-container {

		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

		form {
			float: right;
			width: 340px;
			margin-right: 30px;			
		}	

		.heading {
			margin-top: 0;
			margin-left: -10px;
			padding-top: 10px;
			font-size: 48px;
			font-weight: normal;
			line-height: 1;
			letter-spacing: -1px;
			text-align: left;
			text-shadow: 0 1px 1px #222;
		}

		.subheading {
			margin: 10px 0 0 -10px;
			font-size: 21px;
			line-height: 1.5;
		}

		dl.form {
			position: relative;
			margin: 15px 0;			
		}

		input[type="text"], 
		input[type="password"],
		input[type="email"] {
			width: 100%;
			margin-right: 0;
			padding: 10px;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid #3c3c3c;
		}		

		.text-muted {
			font-size: 11px;
			margin-left: 10px;
			width: 110%;
		}

		.btn-primary {
			color: #fff;
			padding-top: 11px;
			padding-bottom: 11px;
			display: block;
			width: 100%;
			margin-left: 10px;
			text-align: center;
		}		
	}
}

.credentials {

    max-width: 400px;
    text-align: center;
    margin-left: auto;
	border: 1px solid darkgray;
	border-radius: 8px;

	h3 {
		text-align: center;
	}	

	.modal-header {
		background-color: lightgray;
	}

	.modal-body {

		input[type="text"], input[type="email"], input[type="password"] {
			width: 100%;
			margin-bottom: 20px;
			font-size: 18px;
			height: 24px;
			letter-spacing: 2px;
			max-width: 480px; 
		}

		table {
			width: 100%;
			border-collapse: collapse;
			
			td {
				width: 100%;
			}

			i {
				font-size: 18pt;
				color: darkblue;
				padding-left: 16px;
			}
		}
	}

	.modal-footer {
		text-align: left;
		background-color: white;	


		.btn {
			float: right;
			margin-right: 10px;
			margin-top: -40px;
		}				
	}
}