.credentials-modal {

    max-width: 440px;

	h3 {
		text-align: center;
	}

	.modal-header {
		width: 140px;
		position: relative;
		left: 50%;
		margin-left: -80px;
	}

	.close {
		right: 10px;
		margin-right: 14px;
		margin-top: 8px;
	}

	.modal-body {
		margin-right: 20px;
		margin-left: 5px;

		input[type="text"], input[type="email"], input[type="password"] {
			width: 100%;
			margin-bottom: 20px;
			font-size: 18px;
			height: 24px;
			letter-spacing: 2px;
		}
	}

	.modal-footer {
		text-align: center;

		.btn {
			margin-top: 5px;
		}
	}
}



.comparable-modal {


    background-image: url('bgr.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    overflow: hidden;

    top:  0% !important;
    left: 0%;

    margin: 40px 0px 0px 0px; /* top bottom right left */

    width: 1000px;

   .modal-header {
	/* There is no modal header */
    }

    .modal-body {

	margin: 0px 0px 0px 0px; /* top bottom right left */
	max-height: 1000px !important;

    }

    .modal-footer {
	/* There is no modal header */
    }

    .chart-grwth {


    }

    .chart-growth {

	position: absolute;
	top: 208px;
	left: 14px;
	width: 400px;
	height: 195px;
	/*
	border: 2px solid #EA4A0B;
	*/
	background-color: #F2F2F2;
    }

    .chart-price {

	position: absolute;
	top: 405px;
	left: 14px;
	width: 400px;
	height: 195px;
	/*
	border: 2px solid #EA4A0B;
	*/
	background-color: #F2F2F2;

    }

   .close {
	right: 10px;
	margin-right: 14px;
	margin-top: 8px;
    }
 
    .carousel-control {
	border: 2px solid #EA4A0B;
	width: 40px;
	height: 40px;
	background-color: orange; /* need to change to site orange */
   }
    
    .comparable-table {
	width: 900px;
	border: 0px solid black;
	margin: 40px 0px 0px 12px;
    }

    .comparable-table-left-pane {
	width: 450px;
	/*
	border-right-style: dashed;
	border-right-width: 1px;
	border-right-color: grey;
	*/
    }

    .comparable-table-right-pane {

	width: 450px;

    }

   .comparable-detail-left {

	width: 450px;
	height: 800px;
	margin: 0px 0px 0px 20px;

	background-image: url('box-bgr.png');	
	background-repeat: no-repeat;
	background-size: 430px;

	overflow: hidden;
	white-space:nowrap;
	font-family:"Helvetica", Helvetica, serif;
	font-weight: normal;

	color: rgb(255,255,255);

	.factors-header {

	    position: absolute;
	    top: 46pt;
	    left: 215pt;
	    width: 100px;
	    font-size: 12pt;
	    color: rgb(23,23,23);
	}

	.factors-body {

	    font-family:"Courier";
	    position: absolute;
	    top: 70pt;
	    left: 220pt;
	    width: 100pt;
	    height: 82pt;
	    color: rgb(23,23,23);

	}

	.key-stats-header {
	    
	    position: absolute;
	    top: 46pt;
	    left: 20pt;
	    width: 100px;
	    font-size: 12pt;
	}

	.key-stats-body {

	    position: absolute;
	    top: 70pt;
	    left: 20pt;
	    width: 180pt;
	    height: 82pt;
	}

	.company-name {
	    position: absolute;
	    top: 12pt;
	    left: 88pt;

	    text-align: right;

	    width: 300px;
	    font-weight: bold;
	    font-size: 16pt;
	    overflow: hidden;
	}

	.ticker {
	    position: absolute;
	    top: 28pt;
	    left: 238pt;

	    text-align: right;
	    
	    width: 100px;
	    font-size: 9pt;
	}

	.year {
	    position: absolute;
	    top: 13pt;
	    left: 20pt;
	    width: 100px;
	    font-weight: bold;
	    font-size: 14pt;
	    color: rgb(35,35,35);
	}

	.date {
	    position: absolute;
	    top: 32pt;
	    left: 28pt;
	    width: 90px;
	    font-size: 7pt;
	}

    }

    .comparable-detail-right {

	width: 450px;
	height: 800px;
	margin: 0px 0px 0px 20px;

	background-image: url('box-bgr-mirrored.png');	
	background-repeat: no-repeat;
	background-size: 430px;

	overflow: hidden;
	white-space:nowrap;
	font-family:"Helvetica", Helvetica, serif;
	font-weight: normal;

	color: rgb(255,255,255);

	.factors-header {

	    position: absolute;
	    top: 46pt;
	    left: 15pt;
	    width: 100px;
	    font-size: 12pt;
	    color: rgb(23,23,23);
	}

	.factors-body {

	    font-family:"Courier";
	    position: absolute;
	    top: 70pt;
	    left: 20pt;
	    width: 100pt;
	    height: 82pt;
	    color: rgb(23,23,23);

	}

	.key-stats-header {
	    
	    position: absolute;
	    top: 46pt;
	    left: 125pt;
	    width: 100px;
	    font-size: 12pt;
	}

	.key-stats-body {

	    position: absolute;
	    top: 70pt;
	    left: 125pt;
	    width: 180pt;
	    height: 82pt;
	}

	.company-name {
	    position: absolute;

	    top: 12pt;
	    left: 8pt;

	    width: 300px;
	    font-weight: bold;
	    font-size: 16pt;
	    overflow: hidden;
	}

	.ticker {
	    position: absolute;
	    top: 28pt;
	    left: 8pt;
	    width: 100px;
	    font-size: 9pt;
	}

	.year {
	    position: absolute;
	    top: 13pt;
	    left: 258pt;
	    width: 100px;
	    font-weight: bold;
	    font-size: 14pt;
	    color: rgb(35,35,35);
	}

	.date {
	    position: absolute;
	    top: 32pt;
	    left: 253pt;
	    width: 90px;
	    font-size: 7pt;
	}

    }

    .factors {
	height: 12pt;
	font-size: 10pt;

    }
    
    .factor-ey {
	position: absolute;
	top: 0pt;
	left: 0pt;
	width: 120pt;
    }

    .factor-roc {
	position: absolute;
	top: 14pt;
	left: 0pt;
	width: 120pt;
    }

    .factor-grwth {
	position: absolute;
	top: 28pt;
	left: 0pt;
	width: 120pt;
    }

    .factor-epscon {
	position: absolute;
	top: 42pt;
	left: 0pt;
	width: 120pt;
    }

    .factor-ae {
	position: absolute;
	top: 56pt;
	left: 0pt;
	width: 120pt;
    }

    .factor-momentum {
	position: absolute;
	top: 70pt;
	left: 0pt;
	width: 120pt;
    }

    .key-stats {
	height: 12pt;
	font-size: 10pt;
    }

    .mrkcap-label {
	position: absolute;
	/*
	  top: 70pt;
	  left: 125pt;
	  */
	top: 0pt;
	left: 0pt;
	width: 120pt;
    }

    .price-label {
	position: absolute;
	top: 14pt;
	left: 0pt;
	width: 120pt;
    }

    .dividend-label {
	position: absolute;
	top: 28pt;
	left: 0pt;
	width: 120pt;
    }

    .eps-label {
	position: absolute;
	top: 42pt;
	left: 0pt;
	width: 120pt;
    }

    .pe-label {
	position: absolute;
	top: 56pt;
	left: 0pt;
	width: 120pt;
    }

    .pb-label {
	position: absolute;
	top: 70pt;
	left: 0pt;
	width: 120pt;
    }

    .mrkcap-value {
	position: absolute;
	top: 0pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

    .price-value {
	position: absolute;
	top: 14pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

    .dividend-value {
	position: absolute;
	top: 28pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

    .eps-value {
	position: absolute;
	top: 42pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

    .pe-value {
	position: absolute;
	top: 56pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

    .pb-value {
	position: absolute;
	top: 70pt;
	left: 115pt;
	width: 60pt;
	text-align: right;
    }

}

