.credentials-modal {

    max-width: 440px;

	h3 {
		text-align: center;
	}

	.modal-header {
		width: 140px;
		position: relative;
		left: 50%;
		margin-left: -80px;
	}

	.close {
		right: 10px;
		margin-right: 14px;
		margin-top: 8px;
	}

	.modal-body {
		margin-right: 20px;
		margin-left: 5px;

		input[type="text"], input[type="email"], input[type="password"] {
			width: 100%;
			margin-bottom: 20px;
			font-size: 18px;
			height: 24px;
			letter-spacing: 2px;
		}
	}

	.modal-footer {
		text-align: center;

		.btn {
			margin-top: 5px;
		}
	}
}



.comparable-modal {


    background-image: url('bgr.png');
    background-repeat: no-repeat;
    background-size: 100%;

    top:  0% !important;
    left: 0%;

    margin: 45px 0px 0px 0px; /* top bottom right left */

    width: 100%;
    height: 100%;

   .close {
	right: 10px;
	margin-right: 14px;
	margin-top: 8px;
    }

    .modal-header {
	/* background-color: green; */
	height: 20px;
    }

 
    .modal-body {

	margin: 0px 0px 0px 0px; /* top bottom right left */
	/* background-color: red; */
	max-height: 1000px !important;
	height: 90%;
    }

    .modal-footer {
	background-color: orange;
    }

    .comparable-table {
	width: 100%;
	height: 90%;
    }

    .comparable-table-left-pane {
	width: 50%;
	

    }

    .comparable-table-right-pane {
	width: 50%;
	
    }

    .comparable-detail {
	width: 460px;
	border: 10px solid #666666;
	border-radius:7px;
	-moz-border-radius:15px; /* Old Firefox */
    }

}

