
#profile-container {
	padding: 12px;
	font-size: 12pt;
	
	label {
		color: #666;
		font-size: 12pt;
	}

	.entry-field {
		font-size: 14pt;
		height: 24px;
		letter-spacing: 2px;
		min-width: 320px;
	}

	.password-error {
		color: red;
		font-size: 11pt;
	}

	.password-success {
		color: green;
		font-size: 11pt;
	}

	.identifier {
		background-color: lightgray;
		color: black;
	}

	.btn {
		font-size: 12pt;
		margin-left: 170px;
		min-width: 120px;
	}

	.separator {
		min-width: 360px;
		border-bottom: 1px solid #ddd;
		width: 360px;
	}
}

