
#profile-container {
	padding: 12px;
	font-size: 12pt;

	.entry-field {
		width: 95%;
		font-size: 14pt;
		height: 24px;
		letter-spacing: 2px;
		margin-top: 10px;
		float: right;
	}

	table {
		max-width: 500px;
	}

	.btn {
		font-size: 12pt;
		float: right;
		margin-bottom: 8px;
	}

	#username-label {
		margin-top: -24px;
	}

	#password-label {
		margin-top: -64px;
	}

	tr {
		border-bottom: 1px solid gray;
	}
}

