
a:hover {
	cursor: pointer;
}

.results-detail {

    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    table.center {
		margin-left:auto; 
		margin-right:auto;
    }

    .detail-title {

	font-size: 14pt;
	text-align: center;
	padding: 20px 20px 20px 20px;

    }

    .detail-panel {
	padding: 10px 10px 10px 10px;
	max-width: 480px;
    }
    
    table.factor-table {
	
	width: 100%;
	background-color: white;
	table-layout: fixed;
	white-space: nowrap;

	thead {
	    font-size: 12pt;
	    font-weight: normal;

	    th {
		padding: 4px 4px 4px 4px;
	    }
	}
	
	.col1-factors {
	    width: 150px;
	    overflow: hidden; 
	    text-overflow: ellipsis;
	}

	.col2-factors {
	    text-align: center;
	}

	.col3-factors {
	    text-align: right;
	}

	.col4-factors {
	    text-align: right;
	}

	.col5-factors {
	    text-align: right;
	}
	
	.similarity-score {
	    font-size: 14pt;
	    td {
		padding: 4px 4px 4px 4px;
	    }

	}
    }

    table.key-stats-table {
	width: 100%;

	thead {
	    font-size: 12pt;
	    font-weight: normal;

	    th {
		padding: 4px 4px 4px 4px;
	    }
	}

	.co1-key-stats {
	    width: 40%;
	}

	.col2-key-stats {
	    width: 30%;
	    text-align: right;
	}

	.col3-key-stats {
	    width: 30%;
	    text-align: right;
	}

    }
}