
@import "shared";

/*

Heights and visibility of many of the result objects are
impacted by resize operations. As such, their configurations
are in bootstrap_and_overrides.css.scss file. Only add resize
independent size and visibility rules in this file.

*/

$summaryRowHeight: 95px;
$rowBackgroundDark: rgb(232, 232, 232);
$rowBackgroundLight: rgb(255, 255, 255);

$resultRowHeight : 110px;

$leftbarWidth: 70px;

.summary-row {
	background-color: $rowBackgroundDark;

	.left-bar {
		background-image: url("line-grey.png");
		left: 10px;
		width: $leftbarWidth;
		min-width: $leftbarWidth;
		height: $summaryRowHeight;
		margin-left: 20px !important;

		.today-tag {
			position: relative;
			top: 40%;
			margin-left: -19px;
			padding: 0 8px 0 8px; 

			font-size: 16pt;
			font-weight: bold;
			background-image: url('bgr-TODAY.png');

			-moz-background-size:cover; 
			-webkit-background-size:cover; 
			background-size:cover;
		}

		.today-date {
			background-color: rgb(71, 71, 71);
			color: rgb(255,255,255);
			font-size: 5.5 pt;
			width: $leftbarWidth;
			min-width: $leftbarWidth;
			position: relative;
			top: 36px;
			float: right;
			text-align: center;
		}	
	}
}


.result-stats {
  background-color: $neutralColor;
  border-radius: 2px;
  padding: 4px;
  margin-bottom: 8px;
  min-width: 280px;
}

.comparable {
  background-color: $panelColor;
  margin-bottom: 12px;
  border-radius: 2px;
  padding: 4px;
  min-width: 220px;
  box-shadow: 4px 4px 2px #999;

  .panel-header {
    font-weight: bold;
    height:28px;
    padding: 2px 0px 0px 2px;
  }

  .panel-ticker {
    font-weight: bold;
    font-size: 18px;
    height: 20px;
    float: left;
  }

  .panel-date {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
  }

  .panel-performance {
    float: right;
    background: $accentColor2;
    text-align: center;
    // width and height are driven from reactive content in bootstrap_and_overrides.css.scss
  }

  .panel-body {
    /*background-color: green;*/
    overflow: hidden;
    margin: 16px 0px 0px 2px;
    width: 100%;
    display: block;
  }
}

.dyna-roller {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  
/*  
  // Keeping these out of the picture until we have left/right sliding buttons.
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transform: translateX(0px);
*/

}