
@import "shared";

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.date-label {

	background-image: url('date-box-orange.png');
	background-size: 100% 100%;

	margin-left: 10px;
	margin-right: 2px;

	font-size: 10pt;
	padding: 2px 6px 2px 12px; 
}

.timeline-bar {
    background-image: url("line-grey.png");
    /* height / width is set among overrides. */
}

.dark-row {
    background-color: $rowBackgroundDark !important;
}

.light-row {
    background-color: $rowBackgroundLight !important;
}

.target-row {
    .timeline-bar {
	 	.timeline-label {
		    position: relative;
		    top: 26px;
		    width: 74px;
		    margin-left: -20px;
		    padding: 3px 8px 2px 8px; 

		    font-size: 16pt;
		    font-weight: bold;

		    -moz-background-size: 100% 100%; 
		    -webkit-background-size: 100% 100%; 
		    background-size: 100% 100%;
		}

		.timeline-date {
			display: inline-block;
		    background-color: rgb(71, 71, 71);
		    color: rgb(255,255,255);
		    font-size: 5.5 pt;
		    width: 70px;
		    position: relative;
		    float: right;
		    text-align: center;
		}	
    }

    .target-container {
		height: 100%;

		box-shadow: inset 0px -8px 16px -8px #888888;
		-webkit-box-shadow: inset 0px -8px 16px -8px #888888;
		-moz-box-shadow: inset 0px -8px 16px -8px #888888;
		-o-box-shadow: inset 0px -8px 16px -8px #888888;

		.target-name {
		    display:inline-block;
		    background-color: white;
		    border-left: solid orange 2px;
		    border-bottom: solid gray 1px;
		    font-size: 19pt;
		    font-weight: bold;
		    font-color: rgb(23, 23, 23);
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden; 
		    padding-left: 8px;
		}

		.target-info {
		    display: inline-block;
		    border-left: solid gray 2px;
		    border-bottom: solid gray 1px;
		    background-color: lightgray;
		    color: rgb(23, 23, 23);
		    position: relative;
		    height: 70px;
		    font-size: 9pt;
		    padding-left: 3px;
		}

		.share-button {
			position: absolute;

			top: 10px;
			right: 0px;

			font-size: 14pt;

/*			padding-top: 26px;
			margin-top: -9px;
			height: 28px;
*/
			i {
				background-position: 32px 32px !important;
				padding-right: 10pt;
				font-size: 24pt;
			}
		}
    }
}

/*This will work for firefox*/
@-moz-document url-prefix() {
	.date-label {
		position: relative;
		top: -20px;
	}

	.target-name {
		position: relative;
		top: 10px;
	}

	.target-info {
		top: -6px;
	}
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.target-info {
		top: 10px;
	} 
}

/* IE8, FF, Saf, Opera (Everything but IE 6,7) */
html>/**/body #cuatro { 
	.target-info {
		top: -8px;
	}
}

.summary-row {

    margin: 10px 0px 0px 0px;
    font-family:"Helvetica", Helvetica, serif;

	#result-summary {
		/*font size coming in from override file, don't set it here */ 
		line-height: 22pt;

		/*padding left comes from override file. */ 
		padding-top: 12px;
		padding-bottom: 16px;

		#median-perf {
			display: inline-block;
		}
	}

	#result-summary-short {
	}

	#summary-image {
		/* height is from override file, don't set it here. */ 
		position: relative;
		top: -8px;
	}

	#summary-stats {

	    margin-left: 10px;
	    font-size: 12pt;
	    font-weight: bold;
	    list-style: none;
	    line-height: 20pt !important;

	    .sum-stat {
		    padding-left: 15px;
		    padding-right: 20px; 
		    .sum-val {
		    	white-space: nowrap;
		    	display: inline-block;
		    }
	    }
	}
}

.first-row {
	box-shadow: inset 0px 8px 16px -8px #888888;
	-webkit-box-shadow: inset 0px 8px 16px -8px #888888;
	-moz-box-shadow: inset 0px 8px 16px -8px #888888;
	-o-box-shadow: inset 0px 8px 16px -8px #888888;
}

.result-row {

    div.line {
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
		height: 3px; /* Line width of 3 */
		background: #000; /* Black fill */
    }

    .timeline-label {
		position: absolute;

		z-index: 10;

		padding: 2px 0px 2px 6px; 
		
		height: 20px;
		width: 50px;

		font-size: 12pt;
		font-weight: bold;
		background-repeat: no-repeat;
		background-size: 100% 100%;
    }

    .timeline-label-thisyear {
    	margin-top: -10px;
    }

    .timeline-ticks {
		position: relative;
		top: 15px;
		font-size: 8pt;
		line-height: 16pt;
		margin-left: 24px;
		margin-top: 0px;
		color: white;

		.timeline-tick {
		    margin-top: 8px;
		    margin-bottom: 12px;
		}
    }

    .result-container {

		height: 120px;

		.search-status {
			display: inline-block;
			padding-top: 60px;
			font-size: 14pt;
		}

		.no-results-found {
			font-size: 16pt;
			padding-top: 60px;
		}

		.comparable-hover {

		    border: 1px solid orange !important;
		    background-color: $panelColorHover !important;

		}

		.comparable {
		    background-color: $panelColor;
		    margin-top: 14px;
		    border-radius: 2px;
		    min-width: 220px;
		    /*box-shadow: 4px 4px 2px #999;*/
		    border: 1px solid black; 

		    .panel-name {
				font-weight: bold;
				font-size: 12pt;
				color: rgb(23,23,23);
				padding: 6px 4px 4px 4px;
				overflow: hidden;
				white-space: nowrap;

				text-overflow: ellipsis;
				border-bottom: solid darkgray 1px;
				background-color: white;
		    }

		    .panel-ticker-and-date {
		    	padding-top: 4px;
		    }

		    .panel-ticker {
				font-weight: bold;
				font-size: 10pt;
				color: rgb(35, 35, 35);
				height: 20px;
				float: left;
				padding: 0 4px 0 4px; 
		    }

		    .panel-date {
				font-weight: normal;
				font-size: 10pt;
				color: rbg(23, 23, 23);
		    }

		    .panel-performance {
		    	text-align: right;
		    	padding: 8px 8px 10px 0px;

		    	.perf-image {
			    float: left;
			    height: 30px;
			    vertical-align: top;
		    	}

				.perf-num {
					height: 30px;
					vertical-align: top;
					font-size: 11pt;
					font-weight: bold;
				}

				.perf-tag {
		    		height: 30px;
					vertical-align: top;
					display: inline-block;
					font-size: 8pt;
					line-height: 10pt;
					width: 80px;
				}
		    }

		    .panel-similarity {
		    	padding-left: 4px;
		    	background-color: lightgray;
				vertical-align: bottom;
		    }
		}
    }	
}

.dyna-roller {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  
/*  
  // Keeping these out of the picture until we have left/right sliding buttons.
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transform: translateX(0px);
*/
}

.bx-wrapper {
	padding-top: 10px !important;
	padding-right: 10px !important;

	.bx-controls-direction a {
		top: 50%;
	}

	/* Remove border box shadow for a better integrated look. */
	.bx-viewport {
		-moz-box-shadow: 0 0 0px #ccc;
		-webkit-box-shadow: 0 0 0px #ccc;
		box-shadow: 0 0 0px #ccc;
	}

}

.dark-row {
	.bx-viewport {
		background-color: rgb(232, 232, 232) !important;
		border-color: rgb(232, 232, 232) !important;
	}
}

.bxslider {
	margin: -14px 0 0 2px;
}

.bx-pager {
    position: absolute;
    top: 0px;
    margin-top: 130px;
    margin-left: 0px;
    padding-top: 16px !important;
}

/*
Overriding these values here but we will remove them when we use our own images.
*/
.bx-wrapper .bx-prev {
	left: 0px;
	background: url(images/controls.png) no-repeat 0 -32px !important;
	opacity: 0.2;
}

.bx-wrapper .bx-next {
	background: url(images/controls.png) no-repeat -43px -32px !important;
	opacity: 0.2;
}
.bx-wrapper .bx-prev:hover {
	opacity: 1;
}

.bx-wrapper .bx-next:hover {
	opacity: 1;
}
