
a:hover {
	cursor: pointer;
}
.results-detail {

    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

    .company-stats {
    	min-width: 120px;
    	min-height: 120px;
    	border: 1px solid lightsteelblue;
    	margin-bottom: 10px;

		.company-stats-name {
			font-size: 14pt;
			padding-left: 10px;
			padding-top: 4px;
			font-weight: bold;
			padding-bottom: 10px;
		}

		.company-stats-footer {
			min-height: 10px;
		}

    	table {

    		.left-cell {
    			border-right: 1px solid lightsteelblue;
    			padding-right: 32px;
    		}

    		.right-cell {
    			padding-left: 20px;
    		}

    		.stat-label {
    			color: darkgray;
    			width: 160px;
    		}

    		.stat-value {
    			color: black;
    			width: 180px;
    		}

    		.ticker-cell {
    			font-size: 18pt;
    			padding-left: 10px;
    			padding-top: 8px;
    		}

    		.date-cell {
    			font-size: 14pt;
    			padding-left: 10px;
    			padding-top: 10px;
    		}
    	}
    }    

    #factors-container {

    	#versus-table {
    		margin-right: auto;
    		margin-left: auto;
    		width: 100%;
    		border: 1px solid black;
    	}
    	#title-container {
    		text-align: center;
    	}
    	.versus {
    		font-size: 22pt;
    		font-weight: bold;
    		text-align: center;
    		padding-top: 10px;
    		display: inline-block;
    	}
    	.versus-date {
    		font-size: 12pt;
    		font-weight: normal;
    		min-width: 140px;
    		display: inline-block;
    	}

		#exception-span {
			font-size: 14pt;
			display: inline-block;
			padding-left: 20px;
			position: relative;
			bottom: 10px;	
		}    	

		#score-title {
			text-align: center;
			font-size: 14pt;
			border-top: 1px solid lightsteelblue;
			padding-top: 8px;
			padding-bottom: 24px; 
			margin-right: 60px;
			margin-left: 60px;
		}

		#similarity-score {
			text-align: center;
			font-size: 64pt;
			font-weight: bold;
			color: steelblue;
			padding-top: 8px;
		}

		#factors-details {
			margin-top: 24px;
		}

	    table.factor-table {
			
			width: 100%;
			background-color: white;
			white-space: nowrap;
			font-size: 12pt;

			thead {
			    font-weight: normal;

			    th {
			    	font-weight: normal;
					padding: 4px 4px 8px 8px;
					font-size: 14pt;
			    }
			    text-align: left;
			}
			
			.col1-factors {
			    width: 200px;
			    overflow: hidden; 
			    text-overflow: ellipsis;
				padding-left: 4px;
				padding-bottom: 4px;

			}

			.col2-factors {
				text-align: left;
				padding-left: 6px;
			}

			.col3-factors {
				text-align: left;
				padding-left: 6px;
			}

	    }

	    .factors-container-footer {
	    	min-height: 10px;
	    }
	}

	#detail-graph {

		max-width: 900px;
		max-height: 400px;

		margin-left: auto;
		margin-right: auto;

		border-radius: 3px;
		border: 1px solid lightsteelblue;

		svg {
			margin-right: auto;
			margin-left: auto;
			display: block;
		}

		/* tell the SVG path to be a thin blue line without any area fill */
		path {
			stroke-width: 1;
			fill: none;
		}

		.area {
		    fill: lightsteelblue;
		    fill-opacity:0.2;
		    stroke-width: 0;
		}			
		
		.data1 {
			stroke: steelblue;
			stroke-width:3;
		}

		.data2 {
			stroke: green;
			stroke-width:1;
		}

		.data3 {
			stroke: red;
			stroke-width:1;
		}

		.data4 {
			stroke: black;
			stroke-width:1;
		}

		.axis {
		  shape-rendering: crispEdges;
		}

		.x.axis line {
		  stroke: lightgrey;
		}

		.x.axis .minor {
		  stroke-opacity: .5;
		}

		.x.axis path {
		  display: none;
		}
		
		.x.axis text {
			font-size: 14;
		}

		.y.axis line, .y.axis path {
		  fill: none;
		  stroke: lightgrey;
		}

		.y.axis text {
			font-size: 14;
		}

		.y.axisLeft text {
			fill: orange;
		}
	}

    #factors-debug {

    	margin: 40px 10px 0px 10px;

	    table.factor-table {
			
			width: 100%;
			background-color: white;
			white-space: nowrap;
			font-size: 10pt;

			thead {
			    font-weight: normal;

			    th {
			    	font-weight: normal;
					padding: 4px 4px 8px 8px;
					font-size: 14pt;
			    }
			    text-align: left;
			}

			tr {
			    td {
				text-align: center;
			    }

			}
			
	    }

	}

}

