$maxSectionHeight: 400px;

.tab-pane {
  height: $maxSectionHeight;  // until we determine the actual size.
  border-bottom: solid lightgray 2px;
  margin-top: -16px;
}

.right-container {
  height: $maxSectionHeight;
  padding-top: 36px;
}

i {
  background-position: 14px 14px !important;
  margin-top: 6px;
}

.searches-list {
  max-height: $maxSectionHeight;
  overflow: auto;

  .selected {
    background-color: lightgray;
  }

  .search-list-item:hover {
    background-color: lightgray;
  }

  .search-list-item {
    border-top: solid 1px lightgray;
    width: 100%;
    height: 64px;
    overflow-x: hidden;
    cursor: pointer;
    a {
      text-decoration: none;
    }

    #security-info {
      padding: 6px 0 4px 0;
      background-color: #f2f2f2;

      #security-ticker {
        display: inline-block;
        font-weight: bold;
        font-size: 12pt;
        color: #232323;
        float: left;
        padding: 0 4px 0 4px;
      }

      #security-name{
        display: inline-block;
        font-size: 12pt;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #232323;
        font-weight: bold;
        width: 200px;
      }

      #remove-link {
        color:red;
        float: right;
        border-radius: 18px !important; 
        margin-right: 10px;
        margin-top: -12px;
        text-decoration: none;
      }      
    }

    #last-search-date {
      float: left;
      font-size: 12pt;
      padding: 0px 0 4px 4px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    #item-actions {
      float: right;
      margin-right: 10px;
      margin-top: 6px;

      .performed {
        color: green;
      }
    }

    .checked {
      border: solid 1px lightgray;
      border-radius: 3px;

      text-decoration: none;
      margin-right: 5px;
    }


  }
}

.searches-info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 4px;

  /*line-height: 1;*/
  /* letter-spacing: -1px; */

  text-align: left;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;

  -webkit-font-smoothing: antialiased;

  padding: 24px 4px 4px 4px;

  .icon-hand-left {
    margin-left: -14px;
    margin-right: 24px;
  }

  li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #pointer-text-container {
    margin-top: 24px;
    margin-left: 42px;
  }
}

.searches-detail {
  display: none;
  border: solid 2px lightgray;
  border-radius: 6px;
  height: $maxSectionHeight;
  max-height: $maxSectionHeight;
  padding: 10px;

  i {
    line-height: 1.1 !important;
    padding-left: 16px;
  }

  #buttons-bar {
    text-align: right;
    margin-top: -4px;
    margin-bottom: 6px;

    button {
      background-color: rgb(0, 136, 204);
    }
  }
}

.accordion {
  .accordion-toggle {
    i {
      padding-left: 0px;
    }
  }

  .accordion-body {
    margin-right: 14px;

    .accordion-inner {
      #share_message_entry {
        width: 100%;
      }
    }
  }

  .alert {
    margin-right: -14px;
    margin-top: 10px;
    .close {
      top: -6px;
      right: -32px;
      font-size: 12px;
    }

    a {
      cursor: pointer;
    }
  }

  .alert-success {
    display: none;
  }

  .alert-error {
    display: none;
  }
}

table {
  margin-right: -15px;

  tr {
    width: 100%;

    td {
    }
    .email-cell {
      width: 99%;
      padding-right: 20px;

      #share_email_entry {
        width: 100%;
      }
    }
  }
}

.share-form {
  .btn {
    float: right;
  }
}