// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.pump-up {
	color: $contentTextColor;
	margin: 70px 22px 35px;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	line-height: 40px;

	strong {
		font-weight: 300;
		color: #777;
	}
}

.full-search-bar {
	left: 20%;
	position: relative;

	ul {
		list-style: none;
		margin-top: 0;
		margin-right: 0px;
	}

	.search-bar-form {
		height: 45px;

		.search-field-and-button {
			position: absolute;	
			width: 60%;
		}

		#search-button {
			-webkit-border-radius: 0 6px 6px 0;
			-moz-border-radius: 0 6px 6px 0;
			border-radius: 0 6px 6px 0;
			border-left: 0;
			height: 45px;
			width: 46px;
			position: absolute;
			top:0;
			right:-8px;
		}	

		#search_entry {
			-webkit-border-radius: 6px 0 0 6px;
			-moz-border-radius: 6px 0 0 6px;
			border-radius: 6px 0 0 6px;
			border-right: 0;
			font-size: 20px;
			line-height: 24px;
			height: 35px;
			left: 0px;
			width: 95%;
		}
	}
}