
<footer class="footer">
  <small>
  &copy Euclidean Fundamentals Beta - 
  <span class="patent">PATENT  PENDING APRIL 2013</span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Privacy", "/privacy" %></li>
      <li><%= link_to "Terms of Use", "/terms" %></li>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", 'mailto:' %></li>
    </ul>
  </nav>

  <small class="disclaimer">

      <p>
	THE INFORMATION ON THIS WEB SITE IS NOT AN OFFER TO SELL OR
	SOLICITATION OF AN OFFER TO BUY ANY INVESTMENT.  THE WEB SITE DOES NOT
	PROVIDE INDIVIDUAL OR CUSTOMIZED LEGAL, TAX OR INVESTMENT SERVICES.
	SINCE EACH INDIVIDUAL’S SITUATION IS UNIQUE, A QUALIFIED PROFESSIONAL
	SHOULD BE CONSULTED BEFORE MAKING FINANCIAL DECISIONS.
      </p>
      
      <p>
	THE INFORMATION PROVIDED ON THIS WEBSITE IS NOT A RECOMMENDATION TO
	PURCHASE, SELL, OR HOLD A SECURITY AND IT DOES NOT TAKE INTO ACCOUNT
	MARKET VALUE OR SUITABILITY FOR A PARTICULAR INVESTOR.  HISTORICAL
	COMPARABLES, FUNDAMENTALS AND RELATIVE PERFORMANCE INFORMATION ARE
	BASED ON PUBLICLY INFORMATION THAT EUCLIDEAN TECHNOLOGIES CONSIDERS
	RELIABLE.  THE INFORMATION ON THIS WEBSITE (INCLUDING BUT NOT LIMITED
	TO HISTORICAL COMPARABLES, FUNDAMENTALS AND RELATIVE PERFORMANCE
	INFORMATION) MAY BE CHANGED, SUSPENDED, OR WITHDRAWN AS A RESULT OF
	CHANGES IN OR UNAVAILABILITY OF SUCH INFORMATION, OR FOR OTHER
	REASONS.  
      </p>
      
      <p>
	THE PAST PERFORMANCE OF ANY SECURITY SHOULD NOT BE CONSTRUED AS AN
	INDICATOR OF FUTURE PERFORMANCE.  THE INFORMATION ON THIS WEBSITE
	(INCLUDING BUT NOT LIMITED TO HISTORICAL COMPARABLES, FUNDAMENTALS AND
	RELATIVE PERFORMANCE INFORMATION) ARE BASED UPON CERTAIN ASSUMPTIONS,
	INCLUDING RELATIVE FACTOR WEIGHTINGS SELECTED BY EUCLIDEAN TECHNOLOGIES
	OR THE USER, AS THE CASE MAY BE.  OTHER EVENTS AND/OR FACTORS WHICH
	WERE NOT TAKEN INTO ACCOUNT MAY OCCUR.  AS SUCH, THE INFORMATION ON
	THIS WEBSITE, INCLUDING BUT NOT LIMITED TO HISTORICAL COMPARABLES,
	FUNDAMENTALS AND RELATIVE PERFORMANCE INFORMATION, SHOULD NOT BE
	CONSTRUED TO BE INDICATIVE OF THE ACTUAL EVENTS WHICH WILL OCCUR.
      </p>
      
      <p>
	EUCLIDEAN TECHNOLGOIES USES QUANTITATIVE MODELS THAT RELY ON PATTERNS
	INFERRED FROM HISTORICAL PRICES AND OTHER FINANCIAL AND ECONOMIC DATA
	TO CONSTRUCT HISTORICAL COMPARABLES, FUNDAMENTALS AND RELATIVE
	PERFORMANCE INFORMATION.  EVEN IF ALL THE ASSUMPTIONS UNDERLYING THE
	MODELS WERE MET EXACTLY, THE MODELS DO NOT AFFORD CERTAINTY AS TO HOW
	ANY SECURITY WILL PERFORM OVER TIME.  FURTHER, NO STATISTICAL
	PREDICTIONS CAN FULLY MATCH THE COMPLEXITY OF THE FINANCIAL MARKETS
	AND AS SUCH, RESULTS OF THEIR APPLICATION ARE UNCERTAIN.  DIFFERENCES
	IN UNDERLYING MARKET CONDITIONS OVER DIFFERENT PERIODS CAN
	SIGNIFICANTLY IMPACT THE ACCURACY AND THE PERFORMANCE OF A STATISTICAL
	MODEL.
      </p>

      &copy; 
      Copyright 2013, Euclidean Technologies Management. All rights reserved. Not a public solicitation.

    </small>

</footer>
