<footer class="footer">
  <small>
	&copy Euclidean Fundamentals
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'mailto:' %></li>
    </ul>
  </nav>
</footer>
